@import url("fonts.css");

html, body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* -------------- Site Content -------------- */
main .site-content {
    display: grid;
    grid-template-columns: 65% 35%;
}

main .post-content {
    width: 100%;
    margin-bottom: 1rem;
}

main .site-content .post-content > .post-image, .post-title {
    /*padding: 1rem 1rem; */
    padding-right: 1rem;
    position: relative;
}

    main .site-content .post-content > .post-image .post-info {
        background: var(--sky);
        padding: 1rem;
    }

    main .site-content .post-content > .post-image > div {
        overflow: hidden;
    }

    main .site-content .post-content > .post-image .img {
        width: 100%;
        transition: all 1s ease;
    }

        main .site-content .post-content > .post-image .img:hover {
            transform: scale(1.1);
        }

    main .site-content .post-content > .post-image .post-info span {
        margin: 0.5rem;
    }

main .post-content .post-title a {
    font-family: Raleway;
    font-size: 1.8rem;
}

.site-content .post-content .post-title .post-btn {
    border-radius: 0;
    padding: 0.7rem 1.5rem;
    background: #fe4d4d;
}

.site-content .pagination {
    justify-content: center;
    color: var(--text-gray);
    margin: 1rem 0;
}

    .site-content .pagination a {
        padding: 0.6rem 0.9rem;
        border-radius: 2rem;
        margin: 0.3rem;
        font-family: Raleway;
    }

    .site-content .pagination .pages {
        background: var(--bg-greendarker);
        color: var(--text-black);
    }
/* -------------- Site END Content -------------- */

/*END HERE OF COPY PASTE*/ 



* {
    box-sizing: border-box;
    font-family: Raleway;
}

a {
    text-decoration: none;
}
.main {
    margin-left: 20px;
    margin-right: 20px;
}

.title {
    height: 100px;
    margin-top: 15px;
    /*/background-color: #9cc69b;*/
    margin-left: 5px;
}

:root {
    /* theme colors */
    --text-gray: #3f4954;
    --bg-greenlight: #d8f3dc;
    --sky-white: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
/* Center website */
h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 5px -10px;
}
    /* Add padding BETWEEN each column */
    .row, .row > .column {
        padding: 10px;
    }
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    height: 480px;
    display: none;
    /* Hide all elements by default */
}
/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Content */
.content {
    background-color: #f7fbfb; /* #f7fbfb */
    padding: 10px;
}
/* The "show" class is added to the filtered elements */
.show {
    display: block;
}
/* Style the buttons */

[id="all"]:checked ~ .row .column {
    display: block;
}

[id="nature"]:checked ~ .row .nature {
    display: block;
}

[id="cars"]:checked ~ .row .cars {
    display: block;
}

[id="people"]:checked ~ .row .people {
    display: block;
}

.button {
    background-color: darkseagreen; /* Green - #4CAF50 */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.Ad_Img {
    width: 170px;
    height: 140px;
}
.site-content > .sidebar .category-list {
    font-family: Raleway;
    font-size: 15px;
}

    .site-content > .sidebar .category-list .list-items {
        background: #c2e9fb;
        padding: 0.8rem 2rem;
        margin: .6rem 0;
        border-radius: 3rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

.site-content > .sidebar .category-list .list-items {
        color: var(--text-black);
}
.site-content .sidebar .popular-post .post-content {
    padding: 0rem 0;
}

.site-content .sidebar .popular-post h2 {
    padding-top: 0.1rem;
}

.site-content .sidebar .popular-post .post-info {
    padding: .4rem .1rem !important;
    bottom: 0.1rem !important;
    left: 1rem !important;
    border-radius: 0rem !important;
    background: white !important;
}

.site-content .sidebar .popular-post .post-title a {
    font-size: 10px;
    font-family: Raleway;
}